---
import SocialMedia from "@/components/v2/SocialMedia.astro";
---

<section class="py-12 px-4 mt-6 flex flex-col items-center justify-center gap-5">
  <span
    class="text-white text-sm border border-yellow-500 px-4 py-1 rounded-3xl"
  >
    Recent project: Autobusesdecolombia.com
  </span>
  <h1 class="text-yellow-400 text-4xl md:text-7xl font-bold text-center mt-4">
    Turning great ideas into functional realities
  </h1>
  <p class="text-gray-300 text-xl text-center">
    Best practices for user experience, mobile and web development, priority to
    accessibility and performance.
  </p>
  <SocialMedia />
</section>

<style>
  

  .hero {
    position: relative;
    min-height: 60vh;
    color: white;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.95) 100%
      ),
      linear-gradient(-45deg, #292800, #222200 50%, #1a1a1a 50%, #000);
    background-size: auto, 5px 5px;
    background-repeat: repeat;
    background-position: center;
  }

  .hero .hero-content {
    position: relative;
    z-index: 1;
  }
</style>
