---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/sections/v2/Hero.astro";
import Projects from "@/sections/v2/Projects.astro";
import Resume from "@/sections/v2/Resume.astro";
import Experience from "@/sections/v2/Experience.astro";
import Footer from "@/sections/v2/Footer.astro";
import Header from "@/sections/v2/Header.astro";
---

<Layout title="Dieghoatc">
  <main class="w-full relative">
    <div
      class="flex flex-col justify-center items-center min-h-screen w-full md:w-[1080px] mx-auto"
    >
      <div>
        <Hero />
        <Projects />
        <Experience />
        <Resume />
        <Footer />
      </div>
    </div>

    <div
      class="fixed bottom-2 md:top-2
       w-full flex justify-center z-50"
    >
      <Header />
    </div>
  </main>
</Layout>
